<nav class="navbar">
  <div class="nav-left">
    <a routerLink="/" class="logo">
      <img src="assets/img/logo.png" alt="Logo" />
    </a>

    <button mat-button [matMenuTriggerFor]="menu">
      <span class="material-icons">menu</span>
    </button>
  </div>

  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/" *ngIf="isLoggedIn">Inicio</button>
    <button mat-menu-item routerLink="/favoritos" *ngIf="isLoggedIn">Favoritos</button>
    <button mat-menu-item routerLink="/usuarios" *ngIf="isLoggedIn && isAdmin">Usuarios</button>
  </mat-menu>
  

  <div class="search-container">
    <input
      type="text"
      [(ngModel)]="searchText"
      (keydown.enter)="onSearchClick()"
      placeholder="Buscar películas..."
    />
    <button class="search-button" (click)="onSearchClick()">
      <span class="material-icons">search</span>
    </button>
  </div>

  <div class="nav-login">
    <span *ngIf="isLoggedIn && userName" class="user-name">Bienvenido, {{ userName }} </span>
    <button *ngIf="isLoggedIn" (click)="cerrarSesion()">Cerrar sesión</button>
    <button *ngIf="!isLoggedIn" (click)="iniciarSesion()">Iniciar sesión</button>
  </div>
</nav>
