<nav class="navbar">
  <!-- Grupo de logo + menú -->
  <div class="nav-left">
    <a routerLink="/" class="logo">
      <img src="assets/img/logo.png" alt="Logo" />
    </a>

    <button mat-button [matMenuTriggerFor]="menu">
      <span class="material-icons">menu</span>
    </button>
  </div>

  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/">Inicio</button>
    <button mat-menu-item routerLink="/favoritos">Favoritos</button>
  </mat-menu>

  <!-- Barra de búsqueda -->
  <div class="search-container">
    <input
      type="text"
      [(ngModel)]="searchText"
      (keydown.enter)="onSearchClick()"
      placeholder="Buscar películas..."
    />
    <button class="search-button" (click)="onSearchClick()">
      <span class="material-icons">search</span>
    </button>
  </div>

  <!-- Botón de login -->
  <div class="nav-login">
    <button (click)="iniciarSesion()">Iniciar sesión</button>
  </div>
</nav>
