.page-not-found {
    text-align: center;
    margin-top: 5rem;
  
    h1 {
      font-size: 4rem;
      color: #d8ff00;
    }
  
    p {
      font-size: 1.5rem;
      color: white;
    }
  
    a {
      font-size: 1.2rem;
      color: #007bff;
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
  