<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Nombre -->
  <div class="nombre text-center py-3 color-corporativo-negro">Danielti</div>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 color-corporativo-negro">© {{yyyy}} Copyright:
    <a href="" target="_blank" class="color-corporativo-azul"> Danieltin</a>
  </div>
  
  <!-- Version -->
  <div class="footer-copyright text-center py-3 color-corporativo-negro">{{ version }}</div>
</footer>
<!-- Footer -->