<h2>Unidades Centro</h2>
<a routerLink="/unidades-centro/add">Añadir Nueva Unidad</a>
<table>
  <tr>
    <th>ID</th>
    <th>Unidad</th>
    <th>Ciclo</th>
    <th>Observaciones</th>
    <th>Acciones</th>
  </tr>
  <tr *ngFor="let unidad of unidades">
    <td>{{ unidad.id_unidad_centro }}</td>
    <td>{{ unidad.unidad_centro }}</td>
    <td>{{ unidad.id_ciclo }}</td>
    <td>{{ unidad.observaciones }}</td>
    <td>
      <a [routerLink]="['/unidades-centro/edit', unidad.id_unidad_centro]">Editar</a>
      <button (click)="eliminarUnidad(unidad.id_unidad_centro)">Eliminar</button>
    </td>
  </tr>
</table>
